.section--container{
    position: absolute;
   display: flex;
   padding:10px;
   margin-top: 50px;
   align-items: center;
   background-color: #FFE4E1C9;
   
}
.details{

    width: 911px;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 46px;


    
}
.details h1{
    font-size: 64px;
    font-family: "Poppins";
}
.details p{
    width: 711px;
    
}
.face{
    width: 500px;
    height: 562px;
  
}

a{
    width:182px;
    height:55px;
    border-radius: 20px;
    background-color: #DB7093;
    color: #FFF;
    font-size: 28px;
    position: absolute;
    bottom: 188px;
    left:59px;
    padding-left: 18px;
    padding-top: 10px;

}

h1{
    font-size: 64px;
    color: #DB7093;
}
p{
    margin-top: 10px;
}
.div--img{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.small--img{
    padding: 2px;
    vertical-align: middle;
}
.left{
    
    top: 132px;
    left: 910px;
    width: 10px;
    height: 20px;
    margin-top: 20px;
   

    
}
.right{
    
    top: 132px;
    left: 1410px;
    width: 10px;
    height: 20px;
    margin-top: 20px;
}
.border1{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: #FFE4E1;
    display: flex;
    justify-content: center;
    
 
    border: 1px solid #DB7093;
    position: absolute;
    top:212px;
    left:900px;
   
    
}
.border2{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: #FFE4E1;
    position: absolute;
    border: 1px solid #DB7093;
    position: absolute;
    right:-2px;
    top: 212px;
 

}
.section--image{
    height: 100%;
    
}