.blog{
    position: relative;
    left:0;
    bottom: 0;
    top:1000px;
    
}
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.one h2{
    font-size: 72px;
    font-family: 'Poppins';
}
.flex-box{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.flex-box img{
    width: 418px;
    height: 279px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.flex-box h2{
        font-size: 28px;
        line-height: 42px;
        width: 448px;
        text-align: left;


        
}
.first,.second,.third{
    margin-left: 28px;
    text-align: left;
}
.flex-box p{
    font-size: 30px;
    line-height: 35.16px;
}
.read{
    font-size: 20px;
    line-height: 2.44;
    color: rgba(144, 144, 144, 1);
    text-align: left;
    height: 0;
    font-weight: 400;
    margin-bottom: 140px;
}
.second{
    margin-right: 20px;
}
.third{
    margin-left: 0;
}